#input {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid #ccc;
  /* border-radius: 1em; */
  color: black;
  background-color: skyblue;
  text-shadow: 0 0 5px #333;
  text-align: left;
  margin: 0em;
  padding: 0.5em;
}
button {
  background: gold;
}

ul{
  list-style: none;
  background: silver;
}

li {
  border-bottom: 1px solid black;
  line-height: 50px;
}

.container > div:first-child{
  display: flex;
}

.container > div:first-child > div{
  flex : 1 1 auto;
}

.container > div:first-child > div:last-child{
  text-align: right;
}
